# Week-3 IBM DS Professional Assignment-Part3

Assignment Details & Submission Guidelines

Explore and cluster the neighborhoods in Toronto. You can decide to work with only boroughs that contain the word Toronto and then replicate the same analysis we did to the New York City data. It is up to you.

Just make sure:

to add enough Markdown cells to explain what you decided to do and to report any observations you make.
to generate maps to visualize your neighborhoods and how they cluster together.
Once you are happy with your analysis, submit a link to the new Notebook on your Github repository. (3 marks)

In [4]:
#importing dependencies
import pandas as pd
import numpy as np

In [32]:
covid19=pd.read_csv('./covid19/World_Covid19.csv')
covid19_nl=covid19.loc[covid19['countriesAndTerritories'] == 'Netherlands'] 
covid_nl_grouped=covid19_nl.groupby("dateRep")["cases"].sum()
covid_df=covid_nl_grouped.to_frame()
covid_df.sort_values('cases')

            cases
dateRep
01/01/2020      0
20/02/2020      0
20/01/2020      0
19/02/2020      0
19/01/2020      0
18/02/2020      0
18/01/2020      0
21/01/2020      0
17/02/2020      0
16/02/2020      0
15/02/2020      0
15/01/2020      0
14/02/2020      0
14/01/2020      0
13/02/2020      0
17/01/2020      0
13/01/2020      0
21/02/2020      0
22/02/2020      0
31/01/2020      0
30/01/2020      0
29/01/2020      0
28/01/2020      0
27/02/2020      0
27/01/2020      0
22/01/2020      0
26/02/2020      0
25/02/2020      0
25/01/2020      0
24/02/2020      0
...           ...
02/03/2020      6
04/03/2020     10
05/03/2020     10
06/03/2020     44
07/03/2020     46
10/03/2020     56
08/03/2020     60
11/03/2020     61
09/03/2020     77
13/03/2020    111
12/03/2020    121
15/03/2020    155
16/03/2020    176
14/03/2020    190
17/03/2020    278
18/03/2020    292
19/03/2020    346
20/03/2020    409
21/03/2020    534
24/03/2020    545
23/03/2020    573
22/03/2020    637
25/03/2020    811
01/04/2020    845
26/03/2020    852
31/03/2020    884
27/03/2020   1019
30/03/2020   1104
29/03/2020   1159
28/03/2020   1172

[93 rows x 1 columns]

In [39]:
covid19['State/UnionTerritory'].value_counts()

Kerala                         83
Telengana                      51
Delhi                          51
Rajasthan                      50
Uttar Pradesh                  49
Haryana                        49
Ladakh                         46
Tamil Nadu                     46
Punjab                         44
Jammu and Kashmir              44
Maharashtra                    44
Karnataka                      44
Andhra Pradesh                 41
Uttarakhand                    38
Odisha                         37
Puducherry                     35
West Bengal                    35
Chhattisgarh                   34
Chandigarh                     34
Gujarat                        33
Madhya Pradesh                 32
Himachal Pradesh               32
Bihar                          31
Manipur                        29
Mizoram                        28
Goa                            27
Andaman and Nicobar Islands    27
Assam                          21
Jharkhand                      21
Arunachal Pradesh              19
Tripura                        15
Meghalaya                       8
Nagaland#                       5
Nagaland                        4
Unassigned                      3
Name: State/UnionTerritory, dtype: int64

In [44]:
covid_pivot = pd.pivot_table(covid19,values=['Confirmed','Deaths','Cured'],
                               index=['State/UnionTerritory'],
                               #columns=['Date'],
                               aggfunc=np.sum,fill_value=0)
covid_pivot

                             Confirmed  Cured  Deaths
State/UnionTerritory
Andaman and Nicobar Islands        272    104       0
Andhra Pradesh                    8284    423     161
Arunachal Pradesh                   19      1       0
Assam                              569     67      11
Bihar                             1272    324      35
Chandigarh                         493    124       0
Chhattisgarh                       493    247       0
Delhi                            22475   1337     451
Goa                                166     59       0
Gujarat                          13122    976     590
Haryana                           3688    948      45
Himachal Pradesh                   526    165      29
Jammu and Kashmir                 4516    403      80
Jharkhand                          364      0      21
Karnataka                         5588   1065     191
Kerala                            9119   3068      54
Ladakh                             524    217       0
Madhya Pradesh                   13451    738     723
Maharashtra                      41146   4242    2433
Manipur                             48     15       0
Meghalaya                           68      0       7
Mizoram                             28      0       0
Nagaland                             2      0       0
Nagaland#                            0      0       0
Odisha                             915    202      15
Puducherry                         137     29       0
Punjab                            3158    264     221
Rajasthan                        14860   1616     102
Tamil Nadu                       19014   2221     190
Telengana                        11084   1691     250
Tripura                             26      6       0
Unassigned                         161      0       0
Uttar Pradesh                    12212   1199     152
Uttarakhand                        706    136       0
West Bengal                       3557    582     139